# Snowflake Connection
SNOWFLAKE_ACCOUNT=xxxx-yyyy
SNOWFLAKE_DATABASE=SNOWFLAKE
SNOWFLAKE_REGION=us-east-1
SNOWFLAKE_SCHEMA=PUBLIC
SNOWFLAKE_ROLE=ROLE_AGENT_EBANX
SNOWFLAKE_PASSWORD=your-token-here
SNOWFLAKE_USER=USER_AGENT_EBANX
SNOWFLAKE_WAREHOUSE=AI_WH
